/* .container-layouts {
  background-image: url("../img/svg/maskGroup.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .bg-im-parallax {
  position: relative;
  overflow: hidden;
} */

/* .bg-im-parallax img {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

/* realizza il movimento dell'immagine di sfondo */
.container-layouts {
  width: 100vw;
  height: 100vh;
  perspective: 1px;
  perspective-origin: center center;
  overflow-x: hidden;
}
#keyart-8 {
  background-image: url("../img/Background2.png");
  background-color: black;
  transform: translate3d(0, 180px, 0.45px) /* scale(0.1) */;
  top: 0;
  background-repeat: repeat-y;
  z-index: -1;
}
.keyart_layer {
  background-position: bottom center;

  background-size: cover;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4000px;

  z-index: -1;
}
#parallax {
  transform-style: preserve-3d;
  /*  height: 120vh; */
}
@media only screen and (max-width: 700px) {
  .container-layouts {
    background-image: url("../img/4C_Superleggera.jpeg");

    position: absolute;
    background-size: cover;
    background-color: black;
    background-repeat: repeat-y;
  }
  #keyart-8 {
    display: none;
  }
}
