.container-banner-home,
.container-banner-single-project {
  padding: 10.25rem 0;
  height: 95vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.container-banner-home {
  color: var(--beam-yellow);
  background-color: var(--burnout-black);
}
.container-banner-home .cta-banner-contact {
  border: 0.2rem solid var(--beam-yellow);
}

.container-banner-single-project {
  color: var(--gta-bourdeaux);
  background-color: var(--pearl-white);
}
.container-banner-single-project .cta-banner-contact {
  border: 0.2rem solid var(--gta-bourdeaux);
}

.cta-banner-contact {
  margin-top: 2rem;
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-two);
  font-style: normal;
  padding: 0.3rem 4rem;
  font-weight: 700;
  line-height: 2.03806rem;
  letter-spacing: -0.01356rem;
}

.title-banner-contact {
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-one);
  font-style: normal;
  font-weight: 400;
  line-height: 3.875rem; /* 95.385% */
  letter-spacing: -0.04063rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 735px) {
  .title-banner-contact{
    font-size: var(--font-size-title-mobile);
    line-height: 1.875rem; /* 85.714% */

  }
  .text-container-banner{
    width: var(--col10);

  }
  .cta-banner-contact{
    font-size: var( --font-size-title-mobile-s);
  }
  .container-banner-single-project .cta-banner-contact {
  border: 0.15rem solid var(--gta-bourdeaux);
}

}