.title-bannerProject {
  color: var(--burnout-black);
  text-align: center;
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-one);
  font-style: normal;
  font-weight: 400;
  line-height: 3.875rem;
  letter-spacing: -0.04063rem;
  text-transform: uppercase;
}
.title-bannerProject path {
  fill: var(--burnout-black);
}
.title-banner {
  display: flex;
  background: var(--beam-yellow);
  height: 17.75rem;
  /* width: var(--col10); */
  padding: 9rem 6rem 4rem 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.svg-banner {
  display: unset;
  margin-bottom: 1.8rem;
  margin-left: 0.8rem;
}

/* .svg-banner > svg{
  vertical-align: middle;
 height: 100px;
} */
.bg-banner {
  /* background-color: var(--beam-yellow); */
  display: flex;
  flex-direction: column;
  height: 95vh;
  /*   height: 40vh; */
  scroll-snap-align: start;
}
/* .bg-banner:has(.title-banner:nth-of-type(1):hover) {
  background-color: var(--burnout-black);
} */
.img-container {
  height: 80vh;
}
.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container-banner {
  width: var(--col8);
  margin: auto;
}
.btn-bannerProject-cta {
  display: none;
}
.BannerProject-container {
  overflow: auto;
  display: flow-root;
  /*  height: 100vh; */
  scroll-snap-type: y mandatory;
}

.title-banner:hover .title-bannerProject,
.title-banner:hover .title-bannerProject path {
  color: var(--beam-yellow);
  fill: var(--beam-yellow);
}
.title-banner:hover {
  background-color: var(--burnout-black);
}

@media only screen and (max-width: 635px) {
  .title-bannerProject {
    font-size: var(--font-size-title-mobile);
    line-height: 1.875rem;
  }
  .title-banner {
    padding: 0;
    width: var(--col10);
  }
  .svg-banner {
    margin-bottom: 0.6rem;
    margin-left: 0;
    vertical-align: middle;
    height: 0.91544rem;
  }
  .bg-banner {
    display: flex;
    flex-direction: column-reverse;
    height: 88vh;
  }
  .btn-bannerProject-cta {
    text-align: center;
    color: #02020b;
    font-size: var(--font-size-small-text);
    font-family: var(--Superclarendon);
    font-weight: 700;
    border: 0.15rem solid var(--burnout-black);
    padding: 0.3rem 1rem;
    display: unset;
    margin-top: var(--vertical-space-small);
  }
}
