.container-banner-home,
.container-banner-single-project {
  padding: 10.25rem 0;
  height: 95vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.container-banner-home {
  color: var(--beam-yellow);
  background-color: var(--burnout-black);
}
.container-banner-home .cta-banner-contact {
  border: 0.2rem solid var(--beam-yellow);
}
.container-banner-home .cta-banner-contact:hover {
  border: 0.2rem solid var(--burnout-black);
  color: var(--burnout-black);
  background-color: var(--beam-yellow);
}

.container-banner-single-project {
  color: var(--gta-bourdeaux);
  background-color: var(--pearl-white);
  justify-content: center;
}
.container-banner-single-project .cta-banner-contact {
  border: 0.2rem solid var(--gta-bourdeaux);
}
.container-banner-single-project .cta-banner-contact:hover {
  border: 0.2rem solid var(--pearl-white);
  color: var(--pearl-white);
  background-color: var(--gta-bourdeaux);
}

.cta-banner-contact {
  margin-top: 2rem;
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-two);
  font-style: normal;
  padding: 0.3rem 3.5rem;
  font-weight: 700;
  line-height: 2.03806rem;
  letter-spacing: -0.01356rem;
}

.title-banner-contact {
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-one);
  font-style: normal;
  font-weight: 400;
  line-height: 3.875rem; /* 95.385% */
  letter-spacing: -0.04063rem;
  text-transform: uppercase;
}

.container-banner-single-project .title-banner-contact {
  color: var(--gta-bourdeaux);
}
.container-banner-home .title-banner-contact {
  color: var(--beam-yellow);
  text-align: center;
}
@media only screen and (max-width: 735px) {
  .title-banner-contact {
    /*  font-size: var(--font-size-title-mobile); */
    font-size: 1.9rem;
    line-height: 1.875rem; /* 85.714% */
    display: flex;
    justify-content: center;
  }

  .text-container-banner {
    width: 100%;
    padding: 0 1.3rem;
  }
  .cta-banner-contact {
    font-size: var(--font-size-title-mobile-s);
  }
  .container-banner-single-project .cta-banner-contact {
    border: 0.15rem solid var(--gta-bourdeaux);
  }
}
