.bg-card-imgText {
  background-color: var(--burnout-black);
  padding: var(--eight) 0;
}
.img-card-box {
  margin-top: var(--four);
}
.img-card-imgText {
  width: var(--col8);
  margin: auto;
}
.title-card-imgText {
  font-family: var(--Superclarendon);
  font-size: var(--font-size-big-title);
  color: var(--beam-yellow);
  text-transform: capitalize;
  position: relative;
  text-align: center;
  top: -10rem;
}

.text-card-imgText {
  font-size: var(--font-size-text-two);
  color: var(--beam-yellow);
  width: var(--col6);
  font-family: var(--OpenSans);
  line-height: 100%;
  letter-spacing: -0.0125rem;
  text-transform: none;

  text-align: left;
  margin: var(--four) 0;
}

.text-card-imgText:last-child {
  margin-left: auto;
  position: relative;
  left: -10rem;
}

.text-card-imgText:first-child, .text-card-imgText:nth-child(2n) {
  position: relative;
  right: -10rem;
  margin-bottom: var( --vertical-space-small);
}
.text-card-imgText:nth-child(2n){
  margin-top: var( --vertical-space-small);
  
}



@media only screen and (max-width: 735px) {
  .img-card-imgText {
  width: var(--col12);
  margin: auto;
  }
  .title-card-imgText{
  font-size: var( --font-size-title-mobile);
  margin:  var(--vertical-space-small) 0;

  position:unset;
  text-align: start;
  }
  .text-card-imgText:first-child , 
  .text-card-imgText:last-child {
  position: unset;
   
}
.text-card-imgText {
  width: var(--col12);


}
.text-card-imgText:nth-child(2n),.text-card-imgText:first-child,.text-card-imgText {
    margin-top: var(--vertical-space-small);
    margin-bottom: var(--vertical-space-small);
}

.bg-card-imgText{
  padding: var(--Three) var(--two);
}
.text-card-imgText:nth-child(2n) {
  position:unset;
}

}