.bg-contacts,
.box-label-input input,
.box-textarea-text {
  background-color: var(--beam-yellow);
}

.title-contacts {
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-one);
  color: var(--burnout-black);
  text-transform: uppercase;
  margin-bottom: var(--four);
  width: var(--col8);
  padding-top: var(--eight);
  padding-bottom: var(--eight);
  margin: auto;
  text-align: center;
  line-height: 3.75rem; /* 92.308% */
}

.label-title {
  color: var(--burnout-black);
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-three);
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.01rem;
  text-align: left;
  text-transform: none;
  margin-bottom: 0.5rem;
}
.form-box {
  display: flex;
  width: var(--col12);
  gap: 1rem;
  flex-wrap: wrap;
}

.container-contacts {
  text-align: left;
}
.box-label-input {
  flex-shrink: 0;
  width: calc(50% - 0.5rem);
  display: flex;
  flex-direction: column;
}
.box-label-input input {
  border: 2px solid var(--burnout-black);
  padding: 12px 20px;
  height: 2.4rem;
  cursor: pointer;
  font-family: var(--OpenSans);
  font-size: var(--font-size-text-three);
  text-transform: none;
}
.box-textarea {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box-textarea-text {
  border: 2px solid var(--burnout-black);
  padding: 40px 20px;
  height: 2rem;
  cursor: pointer;
  font-family: var(--OpenSans);
  font-size: var(--font-size-text-three);
  text-transform: none;
  margin-bottom: 1.2rem;
}

.btn-contacts {
  border: 2px solid var(--burnout-black);
  color: var(--burnout-black);
  width: var(--col4);
  padding: 5px 0;
  text-align: center;
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-three);
}
.btn-contacts:hover {
  background-color: var(--burnout-black);

  border: 2px solid var(--burnout-black);
  color: var(--beam-yellow);
}
.btn-selected {
  background-color: var(--beam-yellow);
  border: var(--beam-yellow);
}
.form-box input {
  border: 2px solid #000;
}

.box-permission {
  color: var(--burnout-black);
  margin: 0.4rem;
  font-family: var(--OpenSans);
  font-size: var(--font-size-small-text);
  text-align: start;
  font-weight: 400;
  line-height: 100%; /* 0.9375rem */
  letter-spacing: -0.00938rem;
  text-transform: none;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
}
.service-btn-box {
  display: flex;
  justify-content: space-between;
  width: var(--col12);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.box-information-contacts {
  display: flex;
  width: var(--col10);
  margin: 0 auto;
  gap: 1rem;
  padding-bottom: 4rem;
  justify-content: space-between;
}

.contactDetails {
  width: var(--col3);
}
.contactForm {
  width: var(--col8);
}
.col-one {
  width: var(--col1);
}

.contact-details-info {
  font-family: var(--OpenSans);
  color: var(--burnout-black);
  font-size: var(--font-size-text-two);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.0125rem;
}
.contact-details-info-title {
  color: var(--burnout-black);
  font-family: var(--OpenSans);
  font-size: var(--font-size-text-two);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.0125rem;
}
.contactDetails > div {
  margin-top: var(--vertical-space-xsmall);
}

.box-permission {
  position: relative;
  padding-left: 3rem;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
}

.box-permission input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  position: absolute;
}

.box-permission .checkmark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid var(--burnout-black);
  transition: background-color 0.3s;
  transition: border 0.3s;
}
.box-permission .checkmark:hover {
  /*   background-color: var(--burnout-black) !important; */
  border: 2px solid var(--burnout-black) !important;
}

.activeContact::after,
.activePrivacy::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 17px;
  transform: translate(-50%, -50%);
  background: url("../img/svg/x.svg");
  background-size: contain;
}

.activeContact,
.activePrivacy {
  background-color: var(--burnout-black);
  border: 2px solid var(--burnout-black) !important;
}
.select-service-btn-box {
  display: none;
}
.service-btn-box {
  display: inline-flex;
}
.btn-contacts.submit {
  margin-top: 1.6rem;
}
@media only screen and (max-width: 735px) {
  .mobile-line-break {
    width: 100%;
    display: block;
  }
  .title-contacts {
    font-size: var(--font-size-title-mobile);
    width: var(--col10);
    text-align: center;
    line-height: 1.88125rem;
    padding-top: var(--vertical-space-larg);
    padding-bottom: var(--vertical-space-larg);
  }

  .box-information-contacts {
    flex-wrap: wrap-reverse;
  }

  .contactDetails,
  .contactForm {
    width: var(--col12);
    margin-top: var(--vertical-space-small);
  }
  .box-label-input {
    width: var(--col12);
  }
  .btn-contacts {
    margin-left: auto;
    margin-right: auto;
    font-size: var(--font-size-title-mobile-s);
  }
  .box-textarea {
    margin-bottom: var(--vertical-space-small);
  }
  .btn-contacts.submit {
    margin-top: var(--vertical-space-medium);
  }

  .contact-details-info:nth-of-type(2) {
    margin-top: 2rem;
  }

  .service-btn-box {
    display: none;
  }
  /* Wrapper for the select element to handle positioning of the custom arrow */
  .select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%; /* Ensure it spans the full width */
  }

  /* Hide the default select arrow */
  .select-service-btn-box {
    display: block;
    /* padding: 10px 20px; */

    background-color: var(--beam-yellow);
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--burnout-black);
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    font-family: var(--Superclarendon);
    font-size: var(--font-size-text-three);
    text-transform: none;
    cursor: pointer;
    appearance: none;
  }

  /* Custom arrow styling */
  .select-wrapper::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 0; /* Adjust the position as needed */
    width: 5rem; /* Width of the custom arrow */
    height: 10px; /* Height of the custom arrow */
    pointer-events: none; /* Prevent pointer events on the arrow */
    /* transform: translateY(-50%); */
    background: url("../img/svg/ArrowDSelect.svg") no-repeat;
    background-size: contain;
  }
}
/* .select-wrapper {
  position: relative;
  display: inline-block;
  width: 200px;
}
 */
.select-service-btn-box {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  padding: 10px;
  border: 2px solid #000;
  appearance: none;
}
