@import "standard.css";
.cols-footer {
  display: flex;
}
.col-3 {
  width: var(--col3);
}
.col-2 {
  width: var(--col2);
}
.col-1 {
  width: var(--col1);
}
.col-4 {
  width: var(--col4);
}
.footer-font {
  font-family: var(--Superclarendon);
  font-size: var(--font-size-small-text);
  font-style: normal;
  font-weight: 700;
  line-height: 1rem; /* 123.077% */
  letter-spacing: -0.00813rem;
  text-align: justify;
  padding-bottom: 5rem;
  padding-top: 3rem;
  color: var(--burnout-black);
}
.bg-footer-desktop {
  padding: 1rem 2rem;
  background-color: var(--beam-yellow);
}
.footer-p {
  font-family: var(--Superclarendon);
  font-size: var(--font-size-small-text);
  font-style: normal;
  font-weight: 700;
  line-height: 1rem; /* 123.077% */
  letter-spacing: -0.00813rem;
  text-align: center;
}

.bg-footer-mobile {
  display: none;
}
.footer-font ul li .logo {
  width: 5rem;
}
.display-mobile-none {
  display: unset;
}
@media only screen and (max-width: 768px) {
  .display-mobile-none {
    display: none;
  }
  .bg-footer-desktop {
    display: none;
  }
  .bg-footer-mobile {
    display: flow;
    background-color: var(--beam-yellow);
  }

  .bg-footer-mobile .cols-footer {
    display: flex;
    flex-direction: column;
  }

  .cols-footer-mobile {
    background-color: var(--beam-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--col8);
    margin: auto;
    color: var(--burnout-black);
    margin-top: var(--vertical-space-small);
  }

  .cols-footer-mobile li {
    line-height: 1.125rem;
  }

  .social {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .information {
    flex-direction: column;
    line-height: 1.125rem;
  }
  .cols-footer-mobile img {
    margin: auto;
  }
  .footer-p {
    width: var(--col6);
    margin: auto;
  }
  .adm-logo img {
    width: 6rem;
  }
  .footer-font {
    padding-bottom: var(--vertical-space-larg);
  }
  .footer-p {
    padding-bottom: var(--vertical-space-larg);
  }
}
