.bg-img-about {
  background-color: var(--beam-yellow);
}
.bg-img-about img {
  width: 100%;
}
.height-hero-about {
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  .height-hero-about{
    display: flex;
    align-items: center;
  }

 
}