.bg-img-about {
  background-color: var(--beam-yellow);
}
.bg-img-about img {
  width: 100%;
}
.height-hero-about {
  height: 120vh;
}
.bg-img-about-mobile {
  display: none;
}
@media only screen and (max-width: 730px) {
  .height-hero-about {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .bg-img-about {
    display: none;
  }
  .bg-img-about-mobile,
  .bg-img-about-mobile img {
    width: 100%;
  }
  .bg-img-about-mobile {
    display: block;
  }
}
