.container-imgTwoColumns {
  width: var(--col12);
  display: flex;
  gap: 1rem;
  padding-right: var(--laterl-space);
  padding-left: var(--laterl-space);
}
.main-imgTwoColumns:first-child {
  width: var(--col8);
}
.sidebar-imgTwoColumns {
  width: var(--col4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.img-col {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* .sidebar-imgTwoColumns {
  width: var(--col4);
} */
/* .sidebar-imgTwoColumns > div {
  width: var(--col6);
} */
