@import "standard.css";
.navContainer {
  display: flex;
  justify-content: space-between;
  height: 3.3125rem;
  align-items: center;
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-three);
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
  color: var(--burnout-black);
  text-transform: none;
}
.svg-logo.adm {
  cursor: pointer;
}

.hambugerMenu svg {
  width: 1.5rem;
}

.bg-nav-mobile {
  display: none;
}
.nav-position {
  position: sticky;
  top: 0;
  z-index: 2;
}
.bg-nav-desktop {
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;
  z-index: 2;
}
/* con nav bianca hover magenta */

.singleProject .btn-nav:hover {
  cursor: pointer;
  background: var(--gta-bourdeaux);
  color: var(--pearl-white);
  padding: 1.1rem 28px;
}

/* con nav nero hover giallo */
.backgroundBlack .btn-nav:hover {
  cursor: pointer;
  background: var(--beam-yellow);
  color: var(--burnout-black);
  padding: 1.1rem 28px;
}
.navbar-scrolled-beam-yellow .btn-nav:hover,
.navbar-scrolled-yellow .btn-nav:hover {
  cursor: pointer;
  background: var(--burnout-black);
  color: var(--beam-yellow);
  padding: 1.1rem 28px;
}

/* .projects > .bg-nav-desktop {
  color: var(--beam-yellow);
  background-color: var(--burnout-black);
} */
.navbar-initial,
.svg-logo > g > path,
.svg-icon > g > path {
  fill: var(--burnout-black);
  background-color: var(--beam-yellow);
}

/* .navbar-initial {
  box-shadow: none;
}
 */
/* 
.bg-nav-desktop {
  background-color: #ffffff !important;
}
.bg-nav-desktop > .navbar-scrolled {
  background-color: #333;
}

.navbar-scrolled-beam-yellow {
  color: var(--burnout-black);
  background-color: var(--beam-yellow);
}
 */
.backgroundLight .navbar-scrolled-beam-yellow .bg-nav-desktop,
.backgroundLight .navbar-scrolled-beam-yellow .navContainer,
.backgroundLight .navbar-scrolled-beam-yellow .svg-logo > g > path,
.backgroundLight .svg-icon > g > path {
  color: var(--burnout-black);
  background-color: var(--burnout-black);
  fill: var(--burnout-black);
}

/* .navbar-scrolled-beam-yellow .navContainer,
.navbar-scrolled-beam-yellow .svg-logo > g > path,
.svg-icon > g > path {
  color: var(--burnout-black);
  fill: var(--burnout-black);
} */

.backgroundLight .svg-logo > g > path,
.backgroundLight .svg-icon > g > path {
  background-color: var(--beam-yellow);
  fill: var(--burnout-black);
  color: var(--burnout-black);
}
.backgroundLight {
  background-color: #efeff9;
}
.backgroundLight .navbar-scrolled-beam-yellow .svg-logo.adm #Vector {
  display: none;
}
.backgroundLight .navbar-scrolled-beam-yellow .bg-nav-desktop,
.backgroundLight .navbar-scrolled-beam-yellow .navContainer,
.backgroundLight .navbar-scrolled-beam-yellow .svg-icon > g > path {
  color: var(--burnout-black);
  background-color: var(--beam-yellow);
  fill: var(--burnout-black);
}
.navbar-scrolled-beam-yellow .svg-logo.adm #Vector_2 {
  fill: var(--burnout-black);
}
.backgroundLight .svg-logo.adm {
  height: 3.3125rem;
}
.backgroundLight .navbar-scrolled-beam-yellow .svg-logo.adm {
  height: 1.3125rem;
}

.backgroundLight .bg-nav-desktop,
.backgroundLight .navContainer,
.backgroundLight .svg-icon > g > path,
.backgroundLight .svg-logo > g > path {
  color: var(--gta-bourdeaux);
  background-color: var(--pearl-white);
  fill: var(--gta-bourdeaux);
}

/* sfondo scuro in posizione 0 */
.backgroundBlack .navContainer,
.nav-position.backgroundYellow.backgroundYellow .navContainer,
.nav-position.backgroundLight.navbar-scrolled-burnout-black .navContainer {
  height: 5rem;
}

.backgroundBlack .navContainer .btn-nav:hover,
.nav-position.backgroundYellow.backgroundYellow .navContainer .btn-nav:hover,
.nav-position.backgroundLight.navbar-scrolled-burnout-black
  .navContainer
  .btn-nav:hover {
  padding: 1.9rem 28px;
}

.backgroundBlack,
.backgroundBlack .navContainer,
.backgroundBlack .svg-icon > g > path,
.backgroundBlack .svg-logo > g > path {
  background-color: var(--burnout-black);
  color: var(--beam-yellow);
  fill: var(--beam-yellow);
}
.backgroundBlack .svg-logo.adm {
  height: 3.3125rem;
}

/* se scrolla */

.backgroundBlack .navbar-scrolled-beam-yellow .bg-nav-desktop,
.backgroundBlack .navbar-scrolled-beam-yellow .navContainer,
.backgroundBlack .navbar-scrolled-beam-yellow .svg-icon > g > path {
  color: var(--burnout-black);
  background-color: var(--beam-yellow);
  fill: var(--burnout-black);
}
.navbar-scrolled-beam-yellow .svg-logo.adm {
  height: 1.3125rem;
}

/* sfondo sfondo giallo in posizione 0 */
.backgroundYellow,
.backgroundYellow .navContainer,
.backgroundYellow .svg-icon > g > path,
.backgroundYellow .svg-logo > g > path {
  color: var(--burnout-black);
  background-color: var(--beam-yellow);
  fill: var(--burnout-black);
}
.backgroundYellow .svg-logo.adm {
  height: 3.3125rem;
}
.navbar-scrolled-yellow,
.navbar-scrolled-yellow .navContainer,
.navbar-scrolled-yellow .svg-icon > g > path,
.navbar-scrolled-yellow .svg-logo > g > path {
  color: var(--burnout-black);
  background-color: var(--beam-yellow);
  fill: var(--burnout-black);
}
.navbar-scrolled-yellow .navContainer,
.backgroundBlack.navbar-scrolled-beam-yellow .navContainer,
.nav-position.backgroundYellow.navbar-scrolled-yellow .navContainer {
  height: 3.3125rem;
}
.backgroundBlack.navbar-scrolled-beam-yellow .btn-nav:hover,
.nav-position.backgroundYellow.navbar-scrolled-yellow
  .navContainer
  .btn-nav:hover {
  padding: 1.1rem 28px;
}

.navbar-scrolled-yellow .navContainer .btn-nav:hover {
  padding: 1.1rem 28px;
}
/* se scrolla il giallo */
.navbar-scrolled-yellow .svg-logo.adm {
  height: 1.3125rem;
}
.navbar-scrolled-yellow .svg-logo.adm #Vector {
  display: none;
}
.btn-nav {
  /*   padding-left: 30px;
  padding-right: 30px; */
  padding: 2rem 28px;
}
.bg-nav-desktop .navContainer .svg-logo,
.bg-nav-desktop .navContainer .svg-icon {
  width: 4rem;
}
.btn-nav:hover {
  cursor: pointer;
  background: var(--burnout-black);
  color: var(--beam-yellow);
  padding: 1.1rem 28px;
}
#myLinks:has(#title-nav:nth-of-type(1):hover) {
  color: red;
  background-color: red;
}
/* #myLinks:has(#title-nav:nth-of-type(1):target) {
  display: none;
} */
/* .bg-banner:has(.title-banner:nth-of-type(1):hover) {
  background-color: var(--burnout-black);
} */

@media only screen and (max-width: 768px) {
  /*   .bg-nav-mobile {
    color: var(--burnout-black);
    background-color: var(--beam-yellow);
    padding: 3rem 2rem;
    align-items: center;
    display: block;
  } */
  .bg-nav-mobile {
    color: var(--burnout-black);

    background-color: var(--beam-yellow);
    padding: 3rem 2rem;
    align-items: center;
    display: flex; /* Utilizza flex per centrare gli elementi verticalmente */
    justify-content: center; /* Spazia gli elementi alla fine */
  }

  .backgroundBlack .bg-nav-mobile,
  .backgroundBlack .topnav rect {
    background-color: var(--burnout-black);
    color: var(--beam-yellow);
    fill: var(--beam-yellow);
  }
  .svg-logo {
    width: 4rem;
  }

  .singleProject .bg-nav-mobile {
    background-color: var(--pearl-white);
    color: var(--gta-bourdeaux);
    fill: var(--gta-bourdeaux);
  }
  .bg-nav-desktop {
    display: none;
  }
  #myLinks {
    position: relative;
    top: var(--vertical-space-medium);
  }
  #myLinks v-list {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
  }
  #myLinks svg {
    display: inline;
  }
  .topnav {
    text-align: center;
  }

  .topnav a.hambugerMenu {
    display: block;
    position: absolute;
    right: 30px;
    top: var(--vertical-space-medium);
  }

  .svg-logo {
    display: block;
    position: absolute;
    left: 30px;
    top: var(--vertical-space-small);
  }
  .navContainer {
    display: inline;
  }
  v-list-item {
    font-size: var(--font-size-title-mobile);
  }
}
