.bg-description {
  background-color: var(--beam-yellow);
  margin: auto;
  font-size: var(--font-size-text-one);
}
.bg-description img {
  margin: auto;
  padding: var(--margsix);
}
.p-description {
  width: var(--col10);
  margin: auto;
}
