.bg-slider {
  background-color: var(--burnout-black);
  padding: var(--eight) 0;
}
.text-big-title {
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-one);
  color: var(--beam-yellow);
  text-transform: capitalize;
  margin-bottom: var(--four);
  text-align: center;
}

#wrapper {
  width: 100%;
}

#carousel,
#carousel-imgTwoColumns {
  position: relative;
  display: flex;
  overflow: hidden;
}

.square {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
  font-size: 50px;
  background-color: #ffffff;
  margin-right: 20px;
  transition: 100ms ease-in-out;
  /* min-width: 37.8125rem; */
  height: 25.25rem;
  flex-shrink: 0;
  max-width: 500px;
  position: relative;
}
.square:hover .container-slider-nameProject {
  opacity: 1;
}
.container-slider-nameProject {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Exclude.png");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: 100%;
}
.slider-nameProject {
  font-family: var(--Superclarendon);
  font-size: var(--font-size-text-two);
  text-transform: uppercase;

  position: absolute;
  bottom: 1.2rem;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  line-height: 1.4rem;
  text-transform: capitalize;
}
.square:last-child {
  margin-right: 0px;
}

.square:hover {
  background-color: #ffffff27;
  /* border-color: #f4f4f4; */
  color: var(--beam-yellow);
}
.square a {
  height: 100%;
  width: 100%;
}
.square a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.buttons-slider {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.btn-slider {
  cursor: pointer;
  width: 60px;
  transition: 60ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-slider:first-child {
  transform: rotateY(180deg);
}

.btn-slider:hover {
  border-color: #f4f4f4;
  color: #f4f4f4;
}
.square > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.singleProject-slider.bg-slider {
  background-color: var(--pearl-white);
  padding-bottom: var(--vertical-space-larg);
  padding-top: var(--vertical-space-larg);
}
.square > .singleProject > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.singleProject-slider > .text-big-title,
.singleProject-slider path {
  color: var(--gta-bourdeaux);
  fill: var(--gta-bourdeaux);
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .text-big-title {
    font-size: var(--font-size-title-mobile);
    padding: var(--vertical-space-small) 0;
    font-weight: 400;
  }
  .square {
    max-width: var(--col8);
    scroll-snap-align: center;
    aspect-ratio: 1 / 1;
    height: auto;
  }
  .buttons-slider {
    display: none;
  }
  .container-slider-nameProject {
    display: none;
  }
  #carousel {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
  #carousel-imgTwoColumns {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
  #carousel-imgTwoColumns .square {
    scroll-snap-align: center;
  }
}
