.bg-paragraph-container {
  height: 100vh;
  overflow: hidden;
  background-color: black;
  position: relative;
  z-index: -2;
}
.blockText {
  display: flex;
  justify-content: space-between;
}
.descriptionParagraph {
  font-family: var(--OpenSans);
  font-size: var(--font-size-text-two);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.01375rem;
  text-transform: initial;
}
.titleParagraph {
  font-family: var(--Superclarendon);
  font-weight: 400;
  font-size: var(--font-size-text-one);
  font-style: normal;
  line-height: 3.25rem;
  letter-spacing: -0.04063rem;
  text-transform: uppercase;
  margin-bottom: var(--margsix);
}
.text-container-paragraph {
  display: flex;
  flex-direction: column;
  padding: var(--eight) 0;

  width: var(--col5);
  text-align: center;
}

.container-layout-paragraph {
  display: flex;
  width: var(--col10);
  margin: 0 auto;
  justify-content: space-between;
}
.bg-paragraph {
  /* margin-bottom: var(--sixteen); */
  background-color: var(--beam-yellow);
  position: relative;
}

#imgSfondo-paragraph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
  /* z-index: 0; */
  object-fit: cover;

  /* transform: translate(-0%, 50%);
  top: 0; */
}
@media only screen and (max-width: 700px) {
  .bg-paragraph-container {
    height: 100%;
  }
  /* #imgSfondo-paragraph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
  object-fit: cover;

  transform: translate(-0%, 50%);
  top: 0;
} */
  .container-layout-paragraph {
    flex-wrap: wrap;
    width: var(--col12);
  }
  .text-container-paragraph {
    width: var(--col12);
    align-items: start;
  }
  .descriptionParagraph {
    text-align: start;
  }
  .titleParagraph {
    margin-bottom: var(--vertical-space-xsmall);
    font-size: var(--font-size-title-mobile);
    text-align: start;
  }
  .text-container-paragraph {
    padding: var(--vertical-space-larg) var(--two);
  }
}
