.blockText {
  display: flex;
  justify-content: space-between;
}
.description {
  font-family: var(--OpenSans);
  font-size: var(--font-size-text-two);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.01375rem;
  padding-left: 12rem;
  text-transform: initial;
  text-align: left;
}
.title {
  font-family: var(--Superclarendon);
  font-weight: 400;
  font-size: var(--font-size-text-one);
  font-style: normal;
  line-height: 3.25rem;
  letter-spacing: -0.04063rem;
  text-transform: uppercase;
}
.text-container {
  display: flex;
  text-align: justify;
  padding: var(--Three) var(--two);
  background-color: var(--beam-yellow);
  align-items: flex-start;
}
.text-container > p {
  flex-grow: 1;
  flex-shrink: 0;
  align-items: flex-start;
  display: flex;
  width: calc(100% / 2);
}
.container-layout {
  /* padding: 0 0 5rem 0; */
  padding-top: var(--two);
  padding-bottom: var(--two);
  background-color: var(--beam-yellow);
}
.homepage .text-container:hover {
  background-color: var(--burnout-black);
  color: var(--beam-yellow);
}

.title-description-about:nth-of-type(odd) .text-container,
.title-description-about:nth-of-type(odd) .container-layout {
  background-color: var(--burnout-black);
  color: var(--beam-yellow);
}
.container-titleDescription {
  background: var(--beam-yellow);
  padding: var(--Three) 0;
}

@media only screen and (max-width: 768px) {
  .text-container {
    flex-direction: column;
    text-align: start;
    padding: var(--two);
  }
  .text-container > p {
    width: var(--col12);
    margin-bottom: var(--vertical-space-xsmall);
  }
  .text-container > p.title {
    font-size: var(--font-size-title-mobile);
    text-align: start;
  }
  .height-hero-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .container-layout-paragraph {
    flex-direction: column;
    width: var(--col12);
  }

  .text-container-paragraph {
    display: flex;
    flex-direction: column;

    width: var(--col12);
    text-align: start;
  }
  .description {
    padding: 0;
  }
  .container-layout {
    padding: 0;
  }
}
