.blockText {
  display: flex;
  justify-content: space-between;
}
.descriptionParagraph {
  font-family: var(--OpenSans);
  font-size: var(--font-size-text-two);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.01375rem;
  text-transform: initial;
}
.titleParagraph {
  font-family: var(--Superclarendon);
  font-weight: 400;
  font-size: var(--font-size-text-one);
  font-style: normal;
  line-height: 3.25rem;
  letter-spacing: -0.04063rem;
  text-transform: uppercase;
  margin-bottom: var(--margsix);
}
.text-container-paragraph {
  display: flex;
  flex-direction: column;
  padding: var(--eight) var(--two);

  width: var(--col6);
  text-align: center;
}

.container-layout-paragraph {
  display: flex;
  width: var(--col10);
  margin: 0 auto;
}
.bg-paragraph {
  margin-bottom: var(--sixteen);
  background-color: var(--beam-yellow);
}
